<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ONESTEP</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/ba60aefbce.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <th:block th:insert="~{common/header}" />
    <div style="position: absolute; left: 500px" >
        <h1 th:text="|${user.getName()} (님) 환영합니다!!|"></h1>
        <img th:src="${user.getProfileImage()}"/>
    </div>
    <th:block th:insert="~{common/footer}" />
</body>
</html>