<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ONESTEP</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/ba60aefbce.js" crossorigin="anonymous"></script>
</head>
<body>
  <th:block th:insert="~{common/header}" />
  <div class="flex flex-row ">
      <div class="basis-4/12">
          <h1>메인</h1>
      </div>
      <div class="basis-4/12 justify-items-center">

      </div>
  </div>
  <th:block th:insert="~{common/footer}" />
</body>
</html>