<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ONESTEP</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/ba60aefbce.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</head>
<body>
  <th:block th:insert="~{common/header}" />
      <section class="bg-white dark:bg-gray-900 max-h-full">
          <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
              <div class="max-w-screen-md mb-8 lg:mb-16">
                  <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">한 걸음 서비스 소개</h2>
                  <p class="text-gray-500 sm:text-xl dark:text-gray-400">모든 학생들에게 공평한 교육 기회를 제공하고, 교육 열악 지역 의 학생들에게 학습 자원을 제공해 지역간 학업성취도 격차 해소를 목표로 합니다.</p>
              </div>
              <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
                  <div>

                      <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                          <i class="fa-solid fa-brain"></i>
                      </div>
                      <h3 class="mb-2 text-xl font-bold dark:text-white">AI 영어문제추천</h3>
                      <p class="text-gray-500 dark:text-gray-400">다양한 유형의 영어 문제를 생성해서 문제, 정답, 해설을 제공합니다.</p>
                  </div>
                  <div>
                      <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                          <i class="fa-solid fa-book"></i>
                      </div>
                      <h3 class="mb-2 text-xl font-bold dark:text-white">나만의 문제집</h3>
                      <p class="text-gray-500 dark:text-gray-400">마음에 드는 문제를 나만의 문제집에 넣어서 두고두고 간직할 수 있습니다.</p>
                  </div>
                  <div>
                      <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                          <i class="fa-solid fa-share"></i>
                      </div>
                      <h3 class="mb-2 text-xl font-bold dark:text-white">문제집 리그</h3>
                      <p class="text-gray-500 dark:text-gray-400">나만의 문제집을 다른사람에게 공유하고, 공유받을 수 있습니다.</p>
                  </div>
                  <div>
                      <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                          <i class="fa-solid fa-circle-check"></i>
                      </div>
                      <h3 class="mb-2 text-xl font-bold dark:text-white">학습현황 점검</h3>
                      <p class="text-gray-500 dark:text-gray-400">자신만의 학습현황을 점검하고, 스크랩, 나만의 문제집, 공유 받은 문제집을 확인할 수 있습니다.</p>
                  </div>
<!--                  <div>-->
<!--                      <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">-->
<!--                          <svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"></path></svg>-->
<!--                      </div>-->
<!--                      <h3 class="mb-2 text-xl font-bold dark:text-white">Enterprise Design</h3>-->
<!--                      <p class="text-gray-500 dark:text-gray-400">Craft beautiful, delightful experiences for both marketing and product with real cross-company collaboration.</p>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                      <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">-->
<!--                          <svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>-->
<!--                      </div>-->
<!--                      <h3 class="mb-2 text-xl font-bold dark:text-white">Operations</h3>-->
<!--                      <p class="text-gray-500 dark:text-gray-400">Keep your company’s lights on with customizable, iterative, and structured workflows built for all efficient teams and individual.</p>-->
<!--                  </div>-->
<!--              </div>-->
          </div>
      </section>
  <th:block th:insert="~{common/footer}" />
</body>
</html>