<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Main modal -->
<div id="gradingModal" tabindex="-1" aria-hidden="true" class="modal fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow ">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t ">
                <h3 class="text-xl font-semibold text-gray-900 ">
                    문제 풀이 결과
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center" data-modal-hide="gradingModal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <div class="modal_container">
                <!-- modal_content -->
                <div class="flex items-center modal_content px-10">
                    <div class="contain-result-anwser ">
                        <div class="relative overflow-x-auto">
                            <table class="w-full text-sm text-left text-gray-500 ">
                                <thead class="text-lg text-gray-700 uppercase bg-gray-50  ">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        문제
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        채점
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        해설지
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        예상 정답률
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="question, q : ${res}" class="bg-white border-b">
                                    <th th:text="${q.count}" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"></th>
                                    <td th:text="${question.questionNo}" class="px-6 py-4"></td>
                                    <td class="px-6 py-4">
                                    </td>
                                    <td class="px-6 py-4">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>