<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ONESTEP</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/ba60aefbce.js" crossorigin="anonymous"></script>
</head>
<body>
    <th:block th:insert="~{common/header}" />
    <div class="flex flex-row ">
        <div class="basis-8/12">
            <table style="margin:6px 0px 6px 0px; line-height:130%; font-size: 14px;border-spacing:0px;border-collapse:collapse;width:100%;"
                   name="divTable"
            >
                <tr>
                    <td style="padding:4px;border-style:solid;border-color:Black;border-width:1px 1px 1px 1px ;line-height:130%; font-family: 돋움; font-size: 14px;width:100%;" name="divTableCell">
                        <div style="text-align:Justify;line-height:130%; font-family: 돋움; font-size: 14px;" name="divParagraph">
                            <span style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: 돋움; font-size: 14px;">Dear Principal Murphy,</span>
                        </div>
                        <div style="text-align:Justify;line-height:130%; font-family: 돋움; font-size: 14px;" name="divParagraph">
                            <span style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: 돋움; font-size: 14px;">
                                Brian is settling in well as a third-grade student at Fairview Elementary School. I do have a concern, though,
                                about the food offered in the school cafeteria.
                                The choices do not seem to have any relation to recognized medical studies about such things as excessive fat, sugar, and useless junk food.
                                A recent menu included fried fish with fried potato nuggets, a hot dog with potato chips, and fried chicken with French fries.
                                The most healthful piece of food seemed to be a small piece of green pepper floating on a sea of cheese on a pizza.
                                I don’t feed my child this sort of junk at home, and I don’t think it’s appropriate for school.
                                I would very much like to talk to the school dietitian about the offerings at school.
                            </span>
                        </div>
                        <div style="text-align:Justify;line-height:130%; font-family: 돋움; font-size: 14px;" name="divParagraph">
                            <span style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: 돋움; font-size: 14px;">Sincerely,</span>
                        </div>
                        <div style="text-align:Justify;line-height:130%; font-family: 돋움; font-size: 14px;" name="divParagraph">
                            <span style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: 돋움; font-size: 14px;">Karen Diamond</span>
                        </div>
                    </td>
                </tr>
            </table>
            <ul>
                <div style="text-align:right;font-size:12px;margin-bottom:12px;">
                </div>
                <li class="dontsplit odd" iscorrectanswer="False">
                <div style="width:20px; display:table-cell;" class="numbering">①
                </div>
                    <div style="display:table-cell;min-height:20px;padding-left:20px;height:22px;" id="ddd">
                        <div style="text-align:Justify;line-height:130%; font-family: 돋움; font-size: 14px;" name="divParagraph">
                            <span style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: 돋움; font-size: 14px;">학교 급식에 대해 항의하려고</span>
                        </div>
                    </div>
                </li>
                <li class="dontsplit" iscorrectanswer="False">
                    <div style="width:20px; display:table-cell;" class="numbering">②
                        <img class="mychecking" src="/assets/img/icon_question_check.png" style="position:absolute;">
                    </div>
                    <div style="display:table-cell;min-height:20px;padding-left:20px;height:22px;" id="ddd">
                        <div style="text-align:Justify;line-height:130%; font-family: 돋움; font-size: 14px;" name="divParagraph">
                            <span style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: 돋움; font-size: 14px;">학교 급식 이용 방법을 문의하려고</span>
                        </div>
                    </div>
                </li>
                <li class="dontsplit odd" iscorrectanswer="False">
                    <div style="width:20px; display:table-cell;" class="numbering">③
                    </div><div style="display:table-cell;min-height:20px;padding-left:20px;height:22px;" id="ddd">
                    <div style="text-align:Justify;line-height:130%; font-family: 돋움; font-size: 14px;" name="divParagraph">
                        <span style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: 돋움; font-size: 14px;">학교 급식 중단 이유를 비판하려고</span>
                    </div>
                </div>
                </li>
                <li class="dontsplit" iscorrectanswer="False">
                    <div style="width:20px; display:table-cell;" class="numbering">④
                    </div>
                    <div style="display:table-cell;min-height:20px;padding-left:20px;height:22px;" id="ddd">
                        <div style="text-align:Justify;line-height:130%; font-family: 돋움; font-size: 14px;" name="divParagraph">
                            <span style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: 돋움; font-size: 14px;">학교 급식에 특이체질 식단 포함을 요청하려고 　</span>
                        </div>
                    </div>
                </li>
                <li class="dontsplit odd" iscorrectanswer="False">
                    <div style="width:20px; display:table-cell;" class="numbering">
                        ⑤
                    </div>
                    <div style="display:table-cell;min-height:20px;padding-left:20px;height:22px;" id="ddd">
                        <div style="text-align:Justify;line-height:130%; font-family: 돋움; font-size: 14px;" name="divParagraph">
                            <span style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: 돋움; font-size: 14px;">건강한 식단을 제공하는 학교 영양사를 칭찬하려고</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="box-skip p-3">
                <button type="button" class="btn-skip-exam">문제 건너뛰기 </button>
            </div>

            <div class="btn_wrap btn_center_wrap">
                <button type="button" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                    <span>채점 후 결과 확인</span>
                </button>
                <button type="button" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                    <span>정답 확인하기</span>
                </button>
            </div>
        </div>

        <div class="basis-4/12 justify-items-center">

        </div>
    </div>
    <th:block th:insert="~{common/footer}" />
</body>
</html>