<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ONESTEP</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/ba60aefbce.js" crossorigin="anonymous"></script>
</head>
<body>
<th:block th:insert="~{common/header}" />
<div class="flex flex-row ">
    <div class="basis-2/12 justify-items-center">

    </div>
    <div class="basis-8/12">

        <div class="contain-exam-body">
            <div class="box-exam py-7 px-4 bg-slate-100">
                <div style="text-align:Justify;line-height:130%; font-family: 돋움; font-size: 14px;" name="divParagraph">
                    <span style="font-weight:bold;font-size:15px;font-style:italic"></span>
                    <span id="questionSubject" style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: 돋움; font-size: 14px;">(A), (B), (C)의 각 네모 안에서 어법에 맞는 표현으로 가장 적절한 것은?</span>
                </div>
                <table style="margin:6px 0px 6px 0px; line-height:130%; font-size: 14px;border-spacing:0px;border-collapse:collapse;width:100%;"
                       name="divTable"
                >
                    <tr>
                        <td style="padding:4px;border-style:solid;border-color:Black;border-width:1px 1px 1px 1px; line-height:130%; font-family: 돋움; font-size: 14px;width:100%;" name="divTableCell">
                            <div style="text-align:Justify; line-height:130%; font-family: 돋움; font-size: 14px;" name="divParagraph">
                                    <span id="spanParagraph" style="font-size:12px; line-height:130%; font-family: 돋움; font-size: 16px;">
                                    </span>
                            </div>
                        </td>
                    </tr>
                </table>
                <ul id="imageList">
                    <div style="text-align:right;font-size:12px;margin-bottom:12px;">
                    </div>
                    <li class="dontsplit odd" iscorrectanswer="False">
                        <div style="width:20px; display:table-cell;" class="numbering" data-number="1">
                            ①
                        </div>
                        <div style="display:table-cell;min-height:20px;padding-left:20px;height:22px;">
                            <div style="text-align:Justify;line-height:130%; font-family: 돋움; font-size: 14px;" name="divParagraph">
                                <span id="view1" style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: 돋움; font-size: 14px;"></span>
                            </div>
                        </div>
                    </li>
                    <li class="dontsplit" iscorrectanswer="False">
                        <div style="width:20px; display:table-cell;" class="numbering" data-number="2">
                            ②
                        </div>
                        <div style="display:table-cell;min-height:20px;padding-left:20px;height:22px;">
                            <div style="text-align:Justify;line-height:130%; font-family: 돋움; font-size: 14px;" name="divParagraph">
                                <span id="view2" style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: 돋움; font-size: 14px;"></span>
                            </div>
                        </div>
                    </li>
                    <li class="dontsplit odd" iscorrectanswer="False">
                        <div style="width:20px; display:table-cell;" class="numbering" data-number="3">
                            ③
                        </div>
                        <div style="display:table-cell;min-height:20px;padding-left:20px;height:22px;">
                            <div style="text-align:Justify;line-height:130%; font-family: 돋움; font-size: 14px;" name="divParagraph">
                                <span id="view3" style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: 돋움; font-size: 14px;"></span>
                            </div>
                        </div>
                    </li>
                    <li class="dontsplit" iscorrectanswer="False">
                        <div style="width:20px; display:table-cell;" class="numbering" data-number="4">
                            ④
                        </div>
                        <div style="display:table-cell;min-height:20px;padding-left:20px;height:22px;">
                            <div style="text-align:Justify;line-height:130%; font-family: 돋움; font-size: 14px;" name="divParagraph">
                                <span id="view4" style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: 돋움; font-size: 14px;"></span>
                            </div>
                        </div>
                    </li>
                    <li class="dontsplit odd" iscorrectanswer="False">
                        <div style="width:20px; display:table-cell;" class="numbering" data-number="5">
                            ⑤
                        </div>
                        <div style="display:table-cell;min-height:20px;padding-left:20px;height:22px;">
                            <div style="text-align:Justify;line-height:130%; font-family: 돋움; font-size: 14px;" name="divParagraph">
                                <span id="view5" style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: 돋움; font-size: 14px;"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="box-skip text-right">
                <button type="button" class="btn-skip-exam text-right">문제 건너뛰기</button>
            </div>
        </div>
        <div>
            <div class="btn_wrap btn_center_wrap">
                <button type="button" onclick="openModal();" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                    <span>채점 후 결과 확인</span>
                </button>
                <button type="button" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                    <span>정답 확인하기</span>
                </button>
            </div>
        </div>
    </div>

    <div class="basis-2/12 justify-items-center">

    </div>
</div>

<section class="modal modal_notie_type modal_result_type" style="display: none;">
    <div class="modal_head no_line" style="background:none;">
        <!-- default:선있음(선이 없을 경우:no_line 클래스 추가) -->
        <h4 class="modal_tit2">
            <strong class="point">AI </strong>문제추천 풀이 결과
        </h4>
    </div>
    <!-- modal_container -->
    <div class="modal_container">
        <!-- modal_content -->
        <div class="modal_content">
            <div class="contain-result-anwser">
                <div class="contain-head-table">
                    <div class="box-inner">
                        <p class="text-infor"><strong>정답 문항수</strong> <em>0/</em>1</p>
                    </div>
                    <div class="box-inner">
                        <label class="form-radio on"><input type="radio" name="answer" id="resultAll" checked=""> 전체</label>
                        <label class="form-radio"><input type="radio" name="answer" id="resultWrong"> 오답</label>
                    </div>
                </div>
                <div class="table-type1 popup-full">
                    <table>
                        <tbody>
                        <tr>
                            <th>문제</th>
                            <th>채점</th>
                        </tr>
                        <tr class="resultListN">
                            <td>
                                <span>1</span>
                            </td>
                            <td>
                                <span id="ans-wrong"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- //modal_content -->
        </div>
    </div>
    <!--// modal_container -->
    <button type="button" onclick="closeModal();" class="modal_top_close modal_close result_close">
        <!--            <svg class="font-icons">-->
        <!--                <use xlink:href="#svg-round-close"></use>-->
        <!--            </svg>-->
        <span>닫기</span>
    </button>
</section>
<th:block th:insert="~{common/footer}" />
<script th:inline="javascript">
    let res = /*[[${res}]]*/ null;

    for (let i = 0; i < res.res.length; i++) {
        let item = res.res[i];
        let key = 'question_' + i; // 각 항목에 고유한 키 생성
        localStorage.setItem(key, JSON.stringify(item));
    }

    // localStorage에서 데이터를 추출하여 요소에 넣기
    let storedData = localStorage.getItem('question_0');
    let spanParagraph = document.getElementById('spanParagraph');
    let questionSubject = document.getElementById('questionSubject');
    let view1 = document.getElementById('view1');
    let view2 = document.getElementById('view2');
    let view3 = document.getElementById('view3');
    let view4 = document.getElementById('view4');
    let view5 = document.getElementById('view5');

    if (spanParagraph && storedData) {
        // let item = storedData;
        let item = JSON.parse(storedData);

        console.log(storedData);

        // 원하는 속성 또는 데이터로 요소 업데이트
        spanParagraph.innerText = item.questionBody;
        questionSubject.innerText = item.questionSubject;
        view1.innerText = item.view1;
        view2.innerText = item.view2;
        view3.innerText = item.view3;
        view4.innerText = item.view4;
        view5.innerText = item.view5;
    }

    let imageMap = false;

    function addImageBefore(number) {

        if (imageMap) {
            // 이미지가 이미 생성되었다면 제거
            removeImage();
        }

        if (imageMap === false) {
            // 이미지 엘리먼트 생성
            let img = document.createElement('img');
            img.setAttribute('class', 'mychecking');
            img.setAttribute('src', '/assets/img/icon_question_check.png');
            img.style.position = 'absolute';

            // 해당 숫자에 대한 부모 요소 찾기
            let numberingDiv = document.querySelector('[data-number="' + number + '"]');

            if (numberingDiv) {
                // 이미지를 특정 요소(numberingDiv) 앞에 추가
                numberingDiv.parentNode.insertBefore(img, numberingDiv);

                // 이미지가 이미 추가되었음을 표시
                imageMap = true;
            }
        }
    }

    function removeImage() {
        let existingImage = document.querySelector('.mychecking');
        if (existingImage) {
            existingImage.parentNode.removeChild(existingImage);
            imageMap = false;
        }
    }

    // 클릭 이벤트 리스너 등록
    var imageList = document.getElementById('imageList');
    imageList.addEventListener('click', function (event) {
        var target = event.target;
        if (target.tagName === 'DIV' && target.hasAttribute('data-number')) {
            var number = target.getAttribute('data-number');
            addImageBefore(number);
        }
    });

    function openModal(num) {
        // 모달 열기
        document.querySelector('.modal').style.display = 'block';

        // 정답 표시
        if(num == storedData.questionCorrectAnswer) {
            document.getElementById('ans-wrong').innerText = '정답';
        }

        // 오답 표시
        if(num != storedData.questionCorrectAnswer) {
            document.getElementById('ans-wrong').innerText = '오답';
        }
    }

    function closeModal() {
        // 모달 닫기
        document.querySelector('.modal').style.display = 'none';
    }

</script>
<!--    <script th:src="@{/assets/js/question.js}"></script>-->
</body>
</html>