<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ONESTEP</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/ba60aefbce.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/font.css">
</head>
<body>
<th:block th:insert="~{common/header}" />
<div class="flex flex-row ">
    <div id="overlay" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color: rgba(0,0,0,0.7); z-index:10;"></div>
    <div class="basis-3/12 justify-items-center">

    </div>
    <div class="basis-6/12">
        <!-- 로딩 화면 -->
        <div id="loading-screen" class="py-20" style="display: block;">
            <div class="relative flex justify-center items-center">
                <div class="absolute animate-spin rounded-full h-32 w-32 border-t-4 border-b-4 border-purple-500"></div>
                <img src="https://www.svgrepo.com/show/509001/avatar-thinking-9.svg"  class="rounded-full h-28 w-28">
            </div>
            <h2 class="font-bold text-2xl pt-6 text-center">문제를 생성중입니다. 새로고침 해주세요.</h2>
        </div>

        <!-- style="display: none;" -->
        <div id="question-content" class="box-exam-body" style="font-family: CustomFont; display: none;">
            <div class="box-exam py-7 px-4 bg-slate-100">
                <div style="text-align:Justify; line-height:130%; font-family: CustomFont; font-size: 14px;" name="divParagraph">
                    <span style="font-weight:bold; font-size:15px; font-style:italic"></span>
                    <span id="questionSubject" style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: CustomFont; font-size: 14px; width:50%;"></span>
                </div>
                <table style="margin:6px 0px 6px 0px; line-height:130%; font-size: 14px; border-spacing:0px; border-collapse:collapse;"
                       name="divTable"
                >
                    <tr>
                        <td style="padding:8px; border-style:solid; border-color:Black; border-width:1px 1px 1px 1px; line-height:130%; font-family: CustomFont; font-size: 14px;" name="divTableCell">
                            <div style="text-align:Justify; line-height:130%; font-family: CustomFont; font-size: 14px;" name="divParagraph">
                                    <span id="spanParagraph" style="font-size:12px; line-height:130%; font-family: CustomFont; font-size: 16px;"></span>
                            </div>
                        </td>
                    </tr>
                </table>
                <ul id="imageList">
                    <div style="text-align:right;font-size:12px;margin-bottom:12px;">
                    </div>
                    <li class="dontsplit odd" iscorrectanswer="False">
                        <div style="width:20px; display:table-cell;" class="numbering" data-number="1">
                            &#x2460;
                        </div>
                        <div style="display:table-cell;min-height:20px;padding-left:20px;height:22px;">
                            <div style="text-align:Justify;line-height:130%; font-family: CustomFont; font-size: 14px;" name="divParagraph">
                                <span id="view1" style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: CustomFont; font-size: 14px;"></span>
                            </div>
                        </div>
                    </li>
                    <li class="dontsplit" iscorrectanswer="False">
                        <div style="width:20px; display:table-cell;" class="numbering" data-number="2">
                            &#x2461;
                        </div>
                        <div style="display:table-cell;min-height:20px;padding-left:20px;height:22px;">
                            <div style="text-align:Justify;line-height:130%; font-family: CustomFont; font-size: 14px;" name="divParagraph">
                                <span id="view2" style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: CustomFont; font-size: 14px;"></span>
                            </div>
                        </div>
                    </li>
                    <li class="dontsplit odd" iscorrectanswer="False">
                        <div style="width:20px; display:table-cell;" class="numbering" data-number="3">
                            &#x2462;
                        </div>
                        <div style="display:table-cell;min-height:20px;padding-left:20px;height:22px;">
                            <div style="text-align:Justify;line-height:130%; font-family: CustomFont; font-size: 14px;" name="divParagraph">
                                <span id="view3" style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: CustomFont; font-size: 14px;"></span>
                            </div>
                        </div>
                    </li>
                    <li class="dontsplit" iscorrectanswer="False">
                        <div style="width:20px; display:table-cell;" class="numbering" data-number="4">
                            &#x2463;
                        </div>
                        <div style="display:table-cell;min-height:20px;padding-left:20px;height:22px;">
                            <div style="text-align:Justify;line-height:130%; font-family: CustomFont; font-size: 14px;" name="divParagraph">
                                <span id="view4" style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: CustomFont; font-size: 14px;"></span>
                            </div>
                        </div>
                    </li>
                    <li class="dontsplit odd" iscorrectanswer="False">
                        <div style="width:20px; display:table-cell;" class="numbering" data-number="5">
                            &#x2464;
                        </div>
                        <div style="display:table-cell;min-height:20px;padding-left:20px;height:22px;">
                            <div style="text-align:Justify;line-height:130%; font-family: CustomFont; font-size: 14px;" name="divParagraph">
                                <span id="view5" style="white-space:pre-wrap;font-size:12px;line-height:130%; font-family: CustomFont; font-size: 14px;"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box-skip text-right">
            <button type="button" onclick="pass()" class="btn-skip-exam text-right">문제 건너뛰기</button>
        </div>
        <div>
            <div id="checkAnswerDIV" class="btn_wrap btn_center_wrap" style="display: none;">
                <button type="button" onclick="isAnswer();" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                    <span>정답 확인하기</span>
                </button>
<!--                <button type="button" data-modal-target="gradingModal" data-modal-toggle="gradingModal" onclick="afterGradingResult()" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">-->
<!--                    <span>채점 후 결과 확인</span>-->
<!--                </button>-->
                <button type="button" onclick="generatePDF()" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                    <span>문제 다운로드</span>
                </button>
                <button type="button" onclick="generateWorkBook()" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                    <span>문제집 다운로드</span>
                </button>
            </div>
        </div>
    </div>
    <th:block th:include="/questions/result-modal.html"></th:block>
<!--    <th:block th:include="/questions/grading-modal.html"></th:block>-->

    <div class="basis-3/12 justify-items-center">

    </div>
</div>
<th:block th:insert="~{common/footer}" />
<script th:inline="javascript" th:src="@{/assets/js/generateQuestion.js}"></script>
<script th:inline="javascript">
    // 호출한 문제 목록
    let result = /*[[${res}]]*/ null;
    // 문제
    let item = null;
    // 문제 번호(1~10)
    let questionCount = 0;
    // 마킹 이미지 생성 여부
    let imageMap = false;
    // 사용자가 몇번 찍었는지
    let answer = null;
    // 정답여부 true : 정답 / false : 오답
    let correctedMarkingStatus = null;
    // 문제 수정 여부
    let retryStatus = false;

    const $overlay = document.getElementById('overlay');
    const $correctAnswer = document.getElementById('correctAnswer');

    // AI 서빙 서버 요청 전 문제 대기상태 띄우기
    function updateHTML() {
        let loadingScreen = document.getElementById('loading-screen');
        let questionContent = document.getElementById('question-content');
        let checkAnswerContent = document.getElementById('checkAnswerDIV');

        if (result === null || loadingScreen === null || questionContent === null) {
            return; // 필요한 요소가 없으면 종료
        }

        // 로딩 화면 감추고 문제 내용 표시
        loadingScreen.style.display = 'none';
        questionContent.style.display = 'block';
        checkAnswerContent.style.display = 'block';

        localStorage.setItem('questionCount', questionCount.toString());
        getData();
        window.onload;
    }

    // AI 서버에 문제 요청
    if(result === null) {
        const param = new URLSearchParams(location.search);
        const name = param.get('type');

        axios.post('/questions/creation-question?type=' + name)
            .then((res) => {
                localStorage.clear();
                const data = res.data.ques;

                for (let i = 0; i < data.length; i++) {
                    const newItem = data[i];
                    const newKey = 'question_' + i; // 각 항목에 고유한 키 생성
                    localStorage.setItem(newKey, JSON.stringify(newItem));
                }

                localStorage.setItem('questionCount', questionCount.toString());
                getData();
            })
            .catch((err) => {
                console.log('',err);
            })
    } else {
        for (let i = 0; i < result.length; i++) {
            let item = result[i];
            let key = 'question_' + i; // 각 항목에 고유한 키 생성
            localStorage.setItem(key, JSON.stringify(item));
        }

        updateHTML();
    }

    // 다음 문제
    function next() {
        // 기존 마킹 이미지 지우기
        removeImage();

        questionCount++;
        localStorage.setItem('questionCount', questionCount.toString());
        getData();

        // 회원별 문제 풀이 데이터 저장
        const data = {
            questionNo : item.questionNo,
            markedNo: answer,
            correctedMarkingStatus : correctedMarkingStatus
        }

        axios.post('/questions', data)
            .then((res) => {
                console.log('회원이 문제를 풀었습니다.', res);
            })

        // 10문제 다 풀었으면 메인으로 이동
        if(localStorage.getItem('questionCount') >= 10) {
            alert('문제를 다 풀었습니다.');
            window.location.replace('/');
        }
    }

    // 문제 건너뛰기
    function pass() {
        // 기존 마킹 이미지 지우기
        removeImage();

        questionCount++
        localStorage.setItem('questionCount', questionCount.toString());
        getData();
    }

    // 다시 풀기
    function retry() {
        // 기존 마킹 이미지 지우기
        removeImage();

        let storedData = localStorage.getItem(`question_${localStorage.getItem('questionCount')}`);
        let spanParagraph = document.getElementById('spanParagraph');
        let questionSubject = document.getElementById('questionSubject');
        let view1 = document.getElementById('view1');
        let view2 = document.getElementById('view2');
        let view3 = document.getElementById('view3');
        let view4 = document.getElementById('view4');
        let view5 = document.getElementById('view5');

        if (spanParagraph && storedData) {
            item = JSON.parse(storedData);

            // 문제 다시 품
            retryStatus = true;

            // 원하는 속성 또는 데이터로 요소 업데이트
            spanParagraph.innerText = item.questionBody;
            questionSubject.innerText = (questionCount + 1) + '.' + ' ' + item.questionSubject;
            view1.innerText = item.view1;
            view2.innerText = item.view2;
            view3.innerText = item.view3;
            view4.innerText = item.view4;
            view5.innerText = item.view5;
        }
    }

    // localStorage에서 데이터를 추출하여 요소에 넣기
    function getData() {
        let storedData = localStorage.getItem(`question_${localStorage.getItem('questionCount')}`);
        let spanParagraph = document.getElementById('spanParagraph');
        let questionSubject = document.getElementById('questionSubject');
        let view1 = document.getElementById('view1');
        let view2 = document.getElementById('view2');
        let view3 = document.getElementById('view3');
        let view4 = document.getElementById('view4');
        let view5 = document.getElementById('view5');
        let commentary = document.getElementById('commentary');

        if (spanParagraph && storedData) {
            // let item = storedData;
            item = JSON.parse(storedData);

            // 원하는 속성 또는 데이터로 요소 업데이트
            spanParagraph.innerText = item.questionBody;
            questionSubject.innerText = (questionCount+1) + '.' + ' ' + item.questionSubject;
            view1.innerText = item.view1;
            view2.innerText = item.view2;
            view3.innerText = item.view3;
            view4.innerText = item.view4;
            view5.innerText = item.view5;
            commentary.innerText = item.questionCommentary;
            $correctAnswer.innerText = item.questionCorrectAnswer;
        }
    }

    // 마킹 이미지 띄우기
    function addImageBefore(number) {

        if (imageMap) {
            // 이미지가 이미 생성되었다면 제거
            removeImage();
            getData();
        }

        if (imageMap === false) {
            // 이미지 엘리먼트 생성
            let img = document.createElement('img');
            img.setAttribute('class', 'mychecking');
            img.setAttribute('src', '/assets/img/icon_question_check.png');
            img.style.position = 'absolute';

            // 해당 숫자에 대한 부모 요소 찾기
            let numberingDiv = document.querySelector('[data-number="' + number + '"]');

            if (numberingDiv) {
                // 이미지를 특정 요소(numberingDiv) 앞에 추가
                numberingDiv.parentNode.insertBefore(img, numberingDiv);

                // 이미지가 이미 추가되었음을 표시
                imageMap = true;
                answer = number;
            }
        }
    }

    // 마킹 이미지 지우기
    function removeImage() {
        let existingImage = document.querySelector('.mychecking');
        if (existingImage) {
            existingImage.parentNode.removeChild(existingImage);
            imageMap = false;
        }
    }

    // 클릭 이벤트 리스너 등록
    let imageList = document.getElementById('imageList');
    imageList.addEventListener('click', function (event) {
        let target = event.target;
        if (target.tagName === 'DIV' && target.hasAttribute('data-number')) {
            let number = target.getAttribute('data-number');
            addImageBefore(number);
        }
    });

    const closeModalButtons = document.querySelectorAll("[data-modal-hide='defaultModal']");
    const modal = document.getElementById("defaultModal");

    closeModalButtons.forEach(button => {
        button.addEventListener("click", function() {
            modal.classList.add("hidden");
            $overlay.style.display = "none";  // 오버레이 숨기기
        });
    });

    // 문제 확인
    function isAnswer() {

        const modal = document.getElementById("defaultModal");

        if(answer === null) {
            alert('문제를 선택하지 않았습니다.');
            document.getElementById('defaultModal');
            $overlay.style.display = "none";  // 오버레이 숨기기
        } else {
            openModal();
            modal.classList.remove("hidden");
            $overlay.style.display = "block"; // 오버레이 표시
        }
    }

    function afterGradingResult() {
        // if(answer === null) {
        //     alert('문제를 선택하지 않았습니다.');
        // } else {
        //     if(questionCount >= 10) {
        //         alert('문제를 다 풀었습니다.');
        //     }
        //     questionCount++
        //     localStorage.setItem('questionCount', questionCount.toString());
        //
        //     // 회원별 문제 풀이 데이터 저장
        //     const data = {
        //         questionNo : item.questionNo,
        //         markedNo: answer,
        //         correctedMarkingStatus : correctedMarkingStatus
        //     }
        //
        //     axios.post('/questions', data)
        //         .then((res) => {
        //             console.log('회원이 문제를 풀었습니다.', res);
        //         })
        //
        //     getData();
        //     removeImage();
        // }

    }

    // 모달 창 띄우기 / 정오답 확인
    function openModal() {

        // 다음 문제 전환 하기 위해 필요 값
        if(document.querySelector('.answer-image') != null) {
            document.querySelector('.answer-image').remove();
        }

        // 정답 표시
        if(answer == item.questionCorrectAnswer) {
            document.getElementById('ans-wrong').innerText = '정답 입니다.';
            correctedMarkingStatus = true;

            let img = document.createElement('img');
            img.setAttribute('class', 'answer-image');
            img.setAttribute('src', '/assets/img/o.png');

            let numberingDiv = document.querySelector('.contain-result-anwser');

            // 이미지를 특정 요소(numberingDiv) 앞에 추가
            numberingDiv.parentNode.insertBefore(img, numberingDiv);
        }

        // 오답 표시
        if(answer != item.questionCorrectAnswer) {
            document.getElementById('ans-wrong').innerText = '오답 입니다.';
            correctedMarkingStatus = false;

            let img = document.createElement('img');
            img.setAttribute('class', 'answer-image');
            img.setAttribute('src', '/assets/img/x.png');

            let numberingDiv = document.querySelector('.contain-result-anwser');

            // 이미지를 특정 요소(numberingDiv) 앞에 추가
            numberingDiv.parentNode.insertBefore(img, numberingDiv);
        }

        const data = {
            questionNo : item.questionNo,
            markedNo: answer,
            correctedMarkingStatus : correctedMarkingStatus
        }

        // 회원 별 문제 풀이 데이터 저장
        axios.post('/questions', data)
            .then((res) => {
                console.log('회원이 문제를 풀었습니다.', res);
            })
    }

    window.jsPDF = window.jspdf.jsPDF;
    window.canvas = window.html2canvas;

    function generatePDF() {

        document.getElementById('question-content');
        const pdf = new jsPDF('p', 'mm', 'a4');

        // 한글 폰트를 추가합니다.
        pdf.addFileToVFS('/assets/font/KoPubWorld Batang Medium.ttf');
        pdf.addFont('/assets/font/KoPubWorld Batang Medium.ttf', customFontFamily, 'normal');
        pdf.setFont(customFontFamily);

        // 문제 출력 설정
        let x = 10; // 시작 X 좌표
        let y = 10; // 시작 Y 좌표

        const storedData = localStorage.getItem(`question_${localStorage.getItem('questionCount')}`);
        let item = null;

        if (storedData) {
            item = JSON.parse(storedData);

            const questionSubject = item.questionSubject;
            const options = [
                item.view1,
                item.view2,
                item.view3,
                item.view4,
                item.view5
            ];
        }

        const textWidth = 190;
        const splittedText = pdf.splitTextToSize(item.questionBody, textWidth);
        // const textHeight = (splittedText.length * 7) + 5; // 각 줄에 대한 높이 계산 (7은 줄 간격, 5는 여백)
        const textHeight = (splittedText.length * 6.9); // 각 줄에 대한 높이 계산 (7은 줄 간격, 5는 여백)

        pdf.rect(10, y, textWidth, textHeight - 5);
        pdf.text(splittedText, 10, y + 7);
        y += textHeight + 5;

        // 한 페이지 넘어가면 보기 다음 페이지에서 이어나가게 출력
        if (y >= pdf.internal.pageSize.height) {
            pdf.addPage();
            y = 20;
        }

        // 보기 출력
        options.forEach((option, optionIndex) => {
            const optionLabel = `①②③④⑤`.charAt(optionIndex);
            pdf.text(`${optionLabel}\t ${option}`, 10, y);
            pdf.text(option, x + 10, y);
            y += 8;

            if (y >= pdf.internal.pageSize.height) {
                pdf.addPage();
                y = 8;
            }
        });

        // 다음 문제와의 간격 조정
        y += 10;

        // 페이지 분리 처리
        if (index < result.length - 1 && y + boxHeight + 10 > pdf.internal.pageSize.height) {
            pdf.addPage();
            y = 10;
        }

        // PDF 저장
        pdf.save('question_paper.pdf');
    }

    // 문제집 생성
    function generateWorkBook() {

        const customFontFamily = '/assets/font/KoPubWorld Batang Medium.ttf';
        const pdf = new jsPDF('p', 'mm', 'a4');

        // 한글 폰트를 추가합니다.
        pdf.addFileToVFS('/assets/font/KoPubWorld Batang Medium.ttf');
        pdf.addFont('/assets/font/KoPubWorld Batang Medium.ttf', customFontFamily, 'normal');
        pdf.setFont(customFontFamily);

        // 문제 출력 설정
        let x = 10; // 시작 X 좌표
        let y = 10; // 시작 Y 좌표
        const boxHeight = 100; // 사각형 상자 높이
        const lineHeight = 10; // 행 간격
        let correctAnswer = [];
        let commentaries = [];

        // 문제 데이터
        result.forEach((question, index) => {
            const questionSubject = question.questionSubject;
            const options = [
                question.view1,
                question.view2,
                question.view3,
                question.view4,
                question.view5
            ];

            // 정답
            correctAnswer.push(question.questionCorrectAnswer);
            commentaries.push((index + 1).toString() + '번 해설\n' +  question.questionCommentary);

            // 문제 설명 출력
            pdf.text(`${index + 1}. ${questionSubject}`, 10, y);
            y += 5;

            // 사각형 상자 안에 문제 내용 출력
            const textWidth = 190;
            const splittedText = pdf.splitTextToSize(question.questionBody, textWidth);
            // const textHeight = (splittedText.length * 7) + 5; // 각 줄에 대한 높이 계산 (7은 줄 간격, 5는 여백)
            const textHeight = (splittedText.length * 6.9); // 각 줄에 대한 높이 계산 (7은 줄 간격, 5는 여백)

            pdf.rect(10, y, textWidth, textHeight - 5);
            pdf.text(splittedText, 10, y + 7);
            y += textHeight + 5;

            // 한 페이지 넘어가면 보기 다음 페이지에서 이어나가게 출력
            if (y >= pdf.internal.pageSize.height) {
                pdf.addPage();
                y = 20;
            }

            // 보기 출력
            options.forEach((option, optionIndex) => {
                const optionLabel = `①②③④⑤`.charAt(optionIndex);
                pdf.text(`${optionLabel}\t ${option}`, 10, y);
                pdf.text(option, x + 10, y);
                y += 8;

                if (y >= pdf.internal.pageSize.height) {
                    pdf.addPage();
                    y = 8;
                }
            });

            // 다음 문제와의 간격 조정
            y += 10;

            // 페이지 분리 처리
            if (index < result.length - 1 && y + boxHeight + 10 > pdf.internal.pageSize.height) {
                pdf.addPage();
                y = 10;
            }
        });

        // 정답
        pdf.addPage();
        pdf.text(`정답 : ${correctAnswer}`, x, 10);

        // 해설 페이지 추가 및 출력
        let answerY = 20;
        pdf.setFontSize(14);
        commentaries.forEach((commentary) => {
            const splittedText = pdf.splitTextToSize(commentary, 190);
            const textHeight = (splittedText.length * 6.9); // 각 줄에 대한 높이 계산 (7은 줄 간격, 5는 여백)

            // 현재 페이지에 출력할 공간이 충분한지 확인하고, 부족하면 새 페이지 추가
            if (answerY + textHeight > pdf.internal.pageSize.height) {
                pdf.addPage();
                answerY = 10;
            }

            pdf.text(splittedText, 10, answerY);
            answerY += textHeight;
        });

        // PDF 저장
        pdf.save('question_paper.pdf');
    }

    // 오버레이 클릭 시 모달 닫기
    $overlay.addEventListener("click", function() {

        modal.classList.add("hidden");
        $overlay.style.display = "none";
    });

    function getCommentary() {
        let commentary = document.getElementById('commentary-box');

        // 버튼이 클릭되었을 때 해설 출력
        commentary.classList.remove("hidden");

        document.getElementById('commentary-button').classList.add('hidden');
    }
</script>
</body>
</html>